[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "thread_scheduling"
version = "0.1.0"
readme = "README.md"
requires-python = ">=3.11"
dependencies = []

[project.scripts]
startapp = "app:main"
